/* HEADER */

@import "~bootstrap/dist/css/bootstrap.css";

.navbar {
  background-color: rgba(7,233,133,255) !important;
  height: 70px;
}

.navbar-collapse {
  justify-content: space-between !important;
  text-align: center !important;
}

.nav-link {
  cursor: pointer !important;
}

.navbar-nav {
  background-color: rgba(7,233,133,255) !important;
}

#logo-large {
  margin-right: 10rem;
}

a {
  color: black !important;
  text-decoration: none;
}

a:hover {
  text-shadow: -1px 1px 2px rgba(255, 255, 255, 0.466);
  text-decoration: none;
}

#logo-small {
  max-width: 50px;
}

#logo-large {
  max-width: 120px;
}

.navbar-toggler {
  border: transparent !important;
}

.navbar-toggler-icon {
  color: black !important;
}

/* HOME */

.hero {
    padding-top: 15%;
    display: flex;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(6,233,133,1) 75%);
    background-size: cover;
    height: 100vh;
}

.intro {
    width: 40%;
    margin-left: 5%;
}

.intro h1 {
    font-size: 68px;
    font-family: 'Libre Baskerville', serif;
}

.demo {
    width: 60%;
}

.weave {
    height: 400px;
    margin-top: -15% !important;
    margin-left: 15%;
    box-shadow: -2px 1px 15px rgba(0, 0, 0, 0.178);
}

.start {
    background-color: rgba(7,233,133,255);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 18px;
    font-weight: bold;
    border: none;
    box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.473);
}

.divider {
  margin-top: 9%;
  background-color: black;
  height: 3rem;
}

.section-2 {
    margin-bottom: 20%;
}

.section-2 h1 {
    font-size: 26px;
    text-align: left;
    margin-left: 10%;
}

.section-2 img {
    margin-top: 5%;
    width: 600px;
}

/* CREATE STORY */

.post-form {
  margin-top: 5%;
}


.title-input {
  font-family: 'Times New Roman', Times, serif;
  border: none;
  width: 70%;
  font-size: 42px;
  height: 5rem;
  outline: 0px transparent;
  border-bottom: 0.1rem solid #00000036;
}

.post-input {
  margin-top: 2rem;
  font-family: 'Times New Roman', Times, serif;
  width: 70%;
  outline: 0px transparent;
  border: 0.1rem solid #00000036;
  height: 20rem;
}

/* SINGLE POST */

.post-section {
  display: flex;
}

.single-post {
  font-family: 'Times New Roman', Times, serif;
  width: 40%;
  margin-left: 10%;
  margin-top: 10%;

}

.created-by {
  font-size: 44px;
  font-weight: bold;
  text-align: left;
}

.single-post a {
  color: black !important;
  font-size: 20px;
}

.post-container {
  text-align: left;
}

.author-info {
  margin-left: 10%;
  text-align: left;
  width: 40%;
  background: rgba(7,233,133,255);
  height: 100vh;
}

.author-header {
  background: white !important;
}

.author-info h3 {
  padding-top: 5%;
  margin-left: 5%;
}

.author-info p {
  margin-left: 5%;
}

/* LOGIN */


.login-cont {
  margin: auto;
  margin-top: 5rem;
  height: 30rem;
  width: 30%;
  border-radius: 1rem;
  box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.178);
}

.enter-cred {
  margin-top: 2rem;
}

.cred-input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 50%;
  height: 3rem;
  border: none;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.411);
}

.log-btns {
  margin-top: 2rem;
}

/* NOT AUTH */

.not-logged {
  font-size: 24px;
  margin-top: 10%;
}

.or {
  font-size: 18px;
  padding-top: 10px;
}